:root {
	--mainColor: #eaeaea;
	--secondaryColor: #fff;
	--borderColor: #c1c1c1;
	--mainText: black;
	--secondaryText: #4b5156;
	--themeDotBorder: #24292e;
	--previewBg: rgb(251, 249, 243, 0.8);
	--previewShadow: #f0ead6;
	--buttonColor: black;
}

html,
body {
	margin: 0;
	padding: 0;
}

body * {
	transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
}

.s1 {
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
	padding-bottom: 50px;
}

.s2 {
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

a {
	text-decoration: none;
	color: #17a2b8;
}

ul {
	list-style: none;
}
h1 {
	font-size: 56px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
}

.greeting-wrapper {
	display: grid;
	text-align: center;
	min-height: 10em;
	align-content: center;
}

.intro-wrapper {
	background-color: var(--secondaryColor);
	border: 1px solid var(--borderColor);
	border-radius: 5px 5px 0 0;

	-webkit-box-shadow: 0px 9px 22px 0px rgba(176, 176, 176, 1);
	-moz-box-shadow: 0px 9px 22px 0px rgba(176, 176, 176, 1);
	box-shadow: 0px 9px 22px 0px rgba(176, 176, 176, 1);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'nav-wrapper nav-wrapper'
		'left-column right-column';
}

.nav-wrapper {
	grid-area: nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
	border-radius: 5px 5px 0 0;
}

#nagivation a {
	color: var(--mainText);
}

#nagivation {
	margin: 0;
	padding: 10px;
}

#nagivation li {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.dots-wrapper {
	display: flex;
	padding: 10px;
}

.browser-dot {
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -3px 14px 22px -11px rgba(140, 140, 140, 1);
	-moz-box-shadow: -3px 14px 22px -11px rgba(140, 140, 140, 1);
	box-shadow: -3px 14px 22px -11px rgba(140, 140, 140, 1);
}

#dot-1 {
	background-color: #d82e2f;
}
#dot-2 {
	background-color: #f4be2c;
}
#dot-3 {
	background-color: #00d84a;
}

.left-column {
	grid-area: left-column;
	padding-top: 50px;
	padding-bottom: 50px;
}

#profile_pic {
	display: block;
	margin: 0 auto;
	height: 200px;
	width: 200px;
	object-fit: cover;
	border: 2px solid var(--borderColor);
}
#theme-options-wrapper {
	display: flex;
	justify-content: center;
}
.theme-dot {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: wheat;
	margin: 5px;
	border: 2px solid var(--themeDotBorder);

	-webkit-box-shadow: 0px 9px 22px 0px rgba(176, 176, 176, 1);
	-moz-box-shadow: 0px 9px 22px 0px rgba(176, 176, 176, 1);
	box-shadow: 0px 9px 22px 0px rgba(176, 176, 176, 1);
	cursor: pointer;
}

.theme-dot:hover {
	border-width: 5px;
}

#light-mode {
	background-color: #fff;
}
#blue-mode {
	background-color: #072540;
}
#green-mode {
	background-color: #78866b;
}
#purple-mode {
	background-color: #7e4c74;
}
#settings-node {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.right-column {
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}
#preview-shadow {
	background-color: var(--previewShadow);
	width: 300px;
	height: 150px;
	padding-left: 30px;
	padding-top: 30px;
}
#preview {
	width: 300px;
	border: 1.5px solid #17a2ba;
	background-color: var(--previewBg);
	padding: 15px;
	position: relative;
}

.corner {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1.5px solid #17a2ba;
	background-color: #fff;
	position: absolute;
}

#corner-tl {
	top: -5px;
	left: -5px;
}
#corner-tr {
	top: -5px;
	right: -5px;
}
#corner-br {
	bottom: -5px;
	right: -5px;
}
#corner-bl {
	bottom: -5px;
	left: -5px;
}

.about-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-top: 50px;
	gap: 100px;
	padding-bottom: 50px;
}

#skills {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

.social-links {
	display: grid;
	align-content: center;
	text-align: center;
}

#github_img {
	width: 100%;
}

.post-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 20px;
	justify-content: center;
	padding-bottom: 30px;
}

.thumbnail {
	display: block;
	width: 100%;
	height: 180px;
	object-fit: cover;
}

.post {
	border: 1px solid var(--borderColor);
	-webkit-box-shadow: 0px 10px 51px 0px rgba(156, 156, 156, 1);
	-moz-box-shadow: 0px 10px 51px 0px rgba(156, 156, 156, 1);
	box-shadow: 0px 10px 51px 0px rgba(156, 156, 156, 1);
}

.post-preview {
	background-color: #fff;
	padding: 15px;
}

.post-title {
	color: #242b2e;
	margin: 0;
}

.post-intro {
	color: #4b5156;
	font-size: 16px;
}

#contact-form {
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;
}

#contact-form label {
	line-height: 2.7em;
}

#contact-form textarea {
	min-height: 100px;
	font-size: 14px;
	resize: none;
}

.input-field {
	width: 100%;
	padding-bottom: 10px;
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border: 1px solid var(--borderColor);
	font-size: 14px;
}

#submit-btn {
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background-color: var(--buttonColor);
	border: none;
}

@media screen and (max-width: 1200px) {
	.main-container {
		width: 95%;
	}
}

@media screen and (max-width: 800px) {
	.intro-wrapper {
		grid-template-columns: 1fr;
		grid-template-areas:
			'nav-wrapper'
			'left-column'
			'right-column';
	}
	.right-column {
		justify-content: center;
	}
}
